
 body{
 background: url(balloons.jpg) center center fixed;
 background-size: cover;
 text-align: center;
 font-family: Arvo, serif;
 }
#header{
background: linear-gradient(white,
rgba(67,169,228,0.9));
    height: 80px;
    width: 500px;
    margin: 10px auto;
    font-size: 2em;
    color: #fff;
    line-height:80px;
}
 .jumbotron{
 background-color: transparent;
 }
 .jumbotron h1{
 letter-spacing: 2.5px;
 }

 .form-horizontal{
 margin-top: 50px;
 }

 .row{
 margin-top: 30px;
 }

 .col-sm-2{
 margin-bottom: 10px;
 }
